<div class="footer-golden">
    <div class="footer-element">
      <%= image_tag("logo.png", width:'200', class: "padding-top") %>
      <p>DESIGN, RESEARCH, CODE</p>
    </div>
    <div class="footer-element">
      <div class="footer-text-right">
        <%= link_to 'MAIL', "mailto:luziedeubel@gmail.com" %>
      </div>
      <div class="footer-text-right">
        <%= link_to 'INSTAGRAM', "https://www.instagram.com/luziedeubel/", target: "_blank" %>
      </div>
      <div class="footer-text-right">
        <%= link_to 'GITHUB'.html_safe, "https://github.com/deluzie", target: "_blank" %>
      </div>
      <div class="footer-text-right">
        <%= link_to 'LEGAL', "/legal-notice" %>
      </div>
    </div>
  </div>
</div>

