    <div class="row index-element header">
      <div class="col-3 index-column text header">
        <p>PROJECT</p>
      </div>
      <div class="col-3 index-column text header">
        <p>DATE</p>
      </div>
      <div class="col-3 index-column text header">
        <p>TAG</p>
      </div>
      <div class="col-3 index-column text header">

      </div>
    </div>

    <% @projects.each do |project| %>
    <div class="row index-element content">
      <div class="col-3 index-column text">
        <p><%= link_to project.title, project_path(project), class: "stretched-link"%></p>
      </div>
      <div class="col-3 index-column text">
        <p><%= link_to project.year, project_path(project), class: "stretched-link" %></p>
      </div>
      <div class="col-3 index-column text">
        <% if params[:tag].present? %>
          <p><%= link_to params[:tag], project_path(project), class: "stretched-link" %></p>
        <% else %>
          <% tags = [] %>
          <% project.tags.each do |tag| %>
          <% tags << tag.name %>
          <% end %>
          <p><%= link_to tags[0], project_path(project), class: "stretched-link" %></p>
        <% end %>
      </div>
      <div class="col-3 index-column pictures">
        <p>+</p>
        <div class='photo'>
          <%= cl_image_tag project.main_picture.key %>
        </div>
      </div>
    </div>
    <% end %>
