<div class="navbar navbar-expand-sm navbar-light navbar-lewagon light-grey">
  <%= link_to "/" do %>
    <%= image_tag("logo.png", width:'180', class: "padding-top") %>
  <% end %>

  <button class="navbar-toggler btn-outline-primary" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span>NAV</span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "DESIGN",projects_path(tag: "design"), class: "nav-link", id: "nav-text" %>
      </li>
      <li class="nav-item">
        <%= link_to "RESEARCH",projects_path(tag: "research"), class: "nav-link", id: "nav-text" %>
      </li>
      <li class="nav-item">
        <%= link_to "CODE",projects_path(tag: "code"), class: "nav-link", id: "nav-text" %>
      </li>
      <li class="nav-item">
        <%= link_to "ABOUT", "/about", class: "nav-link", id: "nav-text" %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "nav-link", id: "nav-text"  %>
        </li>
      <% end %>
    </ul>
  </div>

</div>


