<div class="row start-picture">
  <div class="col-12 start-image-container text-center" style="background-image: url(<%= image_path "galaxyx.png"%>)" >
<!--     <%= image_tag("galaxyx.png") %> -->
    <div class="col-sm-12 col-lg-10 home-title">
      <%= link_to "LUZIE DEUBEL", "/about" %><br>
      <%= link_to "DESIGN",projects_path(tag: "design"), role:"button" %><br>
      <%= link_to "RESEARCH",projects_path(tag: "research"), role:"button" %><br>
      <%= link_to "CODE", projects_path(tag: "code"), role:"button" %><br>
    </div>
  </div>
</div>
