<!-- <div class="form-container">
  <%= form_for @contact do |f| %>
    <div class="form-group">
      <%= f.label "Your Email" %>
      <%= f.text_field :email, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Your Name" %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label "Message" %>
      <%= f.text_area :message, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.hidden_field :nickname, hint: 'leave this field blank' %>
    </div>
    <div class="form-group">
      <%= f.submit "Contact", class: 'btn btn-outline-primary form-control' %>
    </div>
  <% end %>
</div>
 -->
