<%= form_for @contact do |f| %>
  <div class="form-group">
    <%= f.label "Your Email" %>
    <%= f.text_field :from_email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Your Name" %>
    <%= f.text_field :from_name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label "Message" %>
    <%= f.text_area :message, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.hidden_field :to_email, value: "luziedeubel@gmail.com" %>
    <%= f.submit "Contact", class: 'btn btn-primary form-control' %>
  </div>
<% end %>
