<div class="navbar navbar-expand-sm navbar-light navbar-lewagon light-grey">
  <%= link_to "/" do %>
    <%= image_tag("logo_ld.png", width:'200', class: "padding-top") %>
  <% end %>
  <%= render 'shared/navbar' %>
</div>
<div class="page-container">
  <div class="galaxy-container">
    <div class="index-content">
    <% @projects.each do |project| %>
      <div class="row project-card">
        <%= cl_image_tag project.photos[0].key, height: 100, crop: :fill %>
        <h3><%= link_to project.title, project_path(project) %></h3>
      </div>
    <% end %>
    </div>
  </div>
</div>
