

<div class="navbar navbar-expand-sm navbar-light navbar-lewagon golden">
  <%= link_to "/" do %>
    <%= image_tag("logo_white.png", width:'200', class: "padding-top") %>
  <% end %>
  <%= render 'shared/navbar' %>
</div>
<div class="background-golden">

  <div class="row main-picture">
    <div class="col-12">
      <%= cl_image_tag @project.main_picture.key %>
    </div>
  </div>

  <div class="row show-content">

    <div class="col-lg-6 col-sm-12">
      <h3>
        <%= @project.title %><br>
        <%= @project.year %>
      </h3>
      <p><%= @project.description %></p>
    </div>

    <div class="row photos-container">
      <% @project.photos.each do |photo| %>
      <div class="col-lg-6 col-sm-12">
        <div class="project-photo">
          <%= cl_image_tag photo.key %>
        </div>
      </div>
      <% end %>
    </div>
    <!-- <div class="col-12 col-md-3 col-lg-4">
      <% @project.photos.each do |photo| %>
      <div class="project-photo">
        <div>
          <button class="button-photo">+</button>
        </div>
        <%= cl_image_tag photo.key %>
      </div>
      <% end %>
    </div> -->
  </div>
</div>
