<%= render 'shared/navbar' %>
<div class="background">

  <div class="row main-picture">
    <div class="col-12 main-image-container no-padding">
      <%= cl_image_tag @project.main_picture.key %>
      <div class="centered main-title">
        <h2><%= @project.title %> – <%= @project.year %></h2>
        <% if user_signed_in? %>
          <div>
            <p><%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, project_path(@project), method: :delete, data: { confirm: "Are you sure?" } %></p>
            <p><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_project_path(@project) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row project-introduction">
    <div class="col-lg-6 col-sm-12 text-center">
      <p><%= @project.introduction %></p>
    </div>
  </div>

  <div class="row photos-container">
    <% @project.primary_photos.each do |photo| %>
    <div class="col-lg-6 col-sm-12">
      <div class="project-photo">
        <%= cl_image_tag photo.key %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row project-description">
    <div class="col-lg-6 col-sm-12 text-center">
      <p><%= @project.description %></p>
    </div>
  </div>

  <div class="row photos-container">
    <% @project.secondary_photos.each do |photo| %>
    <div class="col-lg-4 col-sm-12">
      <div class="project-photo">
        <%= cl_image_tag photo.key %>
      </div>
    </div>
    <% end %>
  </div>

  <% if @project.landscape_picture.present? %>
    <div class="row photos-container">
      <div class="col-lg-12 col-sm-12">
        <div class="project-photo">
          <%= cl_image_tag @project.landscape_picture.key %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row category tag">
    <div class="col-lg-8 col-sm-12 text-center reset-button">
      <% @project.tags.each do |tag| %>
        <%= link_to tag.name, projects_path(tag: tag.name), class: "btn btn-outline-primary", role:"button" %>
      <% end %>
      <%= link_to "See all projects", projects_path, class: "btn btn-outline-primary", role:"button" %>
    </div>
  </div>

</div>
