<%= render 'shared/navbar' %>

<div class="background">

  <div class="row main-picture">
    <div class="col-12 no-padding">
      <%= cl_image_tag @project.main_picture.key %>
      <div class="centered">
        <h2><%= @project.title %> – <%= @project.year %></h2>
      </div>
    </div>
  </div>

  <div class="row project-introduction">
    <div class="col-6 text-center">
      <p><%= @project.introduction %></p>
      <p><i class="fas fa-chevron-down"></i></p>
    </div>
  </div>

  <div class="row photos-container">
    <% @project.primary_photos.each do |photo| %>
    <div class="col-lg-6 col-sm-12">
      <div class="project-photo">
        <%= cl_image_tag photo.key %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row project-description">
    <div class="col-6 text-center">
      <p><%= @project.description %></p>
    </div>
  </div>

  <div class="row photos-container">
    <% @project.secondary_photos.each do |photo| %>
    <div class="col-lg-6 col-sm-12">
      <div class="project-photo">
        <%= cl_image_tag photo.key %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="row category">
    <div class="col-6 text-center">
      <%= link_to @project.category, projects_path(query: @project.category), class: "btn btn-outline-primary", role:"button" %>
    </div>
  </div>

</div>
